* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Semibold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy/Gilroy-Extrabold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: "Chronicle";
  src: url(../fonts/chronicle/Chronicle-Display-Semibold.woff2);
  font-weight: 600;
}
* {
  font-family: "Gilroy";
  font-weight: 600;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body {
  position: relative;
  font-size: 1rem;
  color: #ffffff;
  background-color: #141f25;
}

a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  a:hover {
    color: #fbd784;
  }
}

p {
  line-height: 1.7rem;
}

button {
  color: #ffffff;
  background: none;
}

.container {
  width: 76.1458333333%;
}
@media screen and (max-width: 640px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 92%;
  }
}

.scroll-container {
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 145px;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media screen and (max-width: 960px) {
  .header {
    min-height: 85px;
  }
}
.header--fixed {
  position: fixed;
  width: 100%;
  left: 50%;
  min-height: 70px;
  background-color: rgba(7, 12, 14, 0.4);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transform: translate(-50%, 0);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91.6666666667%;
}
.header__actions {
  display: flex;
}

.menu__list {
  display: flex;
}
.menu__list li {
  margin: 0 40px;
}
@media screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}
.menu__link {
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .menu__link:hover {
    color: #fbd784;
  }
}

.account {
  display: flex;
  align-items: center;
  font-size: 0.91rem;
  background: none;
}
.account__img {
  margin: 0 8px 0 0;
}

.menu-button {
  display: none;
  width: 30px;
  margin-left: 32px;
}
.menu-button span {
  display: block;
  width: 100%;
  height: 3px;
  margin: 6px 0;
  background-color: #ffffff;
}
@media screen and (max-width: 960px) {
  .menu-button {
    display: block;
  }
}

.modal-block {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(11, 17, 20, 0.9);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.modal-block.animation-in {
  -webkit-animation: 0.5s ease-in-out appear-in;
          animation: 0.5s ease-in-out appear-in;
}
.modal-block.animation-out {
  -webkit-animation: 0.5s ease-in-out appear-out;
          animation: 0.5s ease-in-out appear-out;
}
.modal-block__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
}
.modal-block__close span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}
.modal-block__close span:first-child {
  transform: rotate(45deg);
}
.modal-block__close span:last-child {
  transform: rotate(-45deg);
  margin-top: -4px;
}
.modal-block .modal-menu__list {
  text-align: center;
}
.modal-block .modal-menu__link {
  display: block;
  margin: 20% 0;
  font-size: 3rem;
}

@-webkit-keyframes appear-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes appear-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes appear-out {
  0% {
    top: 0;
    transform: scale(1);
  }
  100% {
    top: -100%;
    transform: scale(0.4);
  }
}
@keyframes appear-out {
  0% {
    top: 0;
    transform: scale(1);
  }
  100% {
    top: -100%;
    transform: scale(0.4);
  }
}
.social {
  position: fixed;
  left: 4.1666666667%;
  display: flex;
  height: 100%;
  align-items: center;
  transform: translate(-47%, 0);
  z-index: 900;
}
.social__container {
  display: flex;
  transform: rotate(90deg);
}
.social__container > * {
  margin: 0 12px;
}
@media screen and (max-width: 480px) {
  .social {
    display: none;
  }
}

.scroll-pagination {
  position: fixed;
  right: 4.1666666667%;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 950;
}
.scroll-pagination__link {
  display: inline-block;
  text-align: right;
  width: 100%;
  padding: 22px 30px 22px 0px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.scroll-pagination__link:hover {
  border-right: 3px solid rgba(251, 215, 132, 0.5);
}
.scroll-pagination__link.active {
  border-color: #ffffff;
}
@media screen and (max-width: 480px) {
  .scroll-pagination {
    display: none;
  }
}

.hero {
  min-height: 100vh;
  margin-bottom: -40vh;
}
.hero__container {
  position: absolute;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media screen and (max-width: 640px) {
  .hero__container {
    height: 60%;
  }
}
@media screen and (max-width: 375px) {
  .hero__container {
    height: 65%;
  }
}
.hero__content {
  width: 49.4791666667%;
}
@media screen and (max-width: 1440px) {
  .hero__content {
    width: 52%;
  }
}
@media screen and (max-width: 480px) {
  .hero__content {
    width: 70%;
  }
}

.main__title {
  margin-bottom: 32px;
  color: red;
  font-family: "Chronicle";
  font-size: 4.889rem;
  text-transform: capitalize;
  line-height: 5.55rem;
}
@media screen and (max-width: 1440px) {
  .main__title {
    font-size: 4.4rem;
  }
}
@media screen and (max-width: 960px) {
  .main__title {
    font-size: 2.8rem;
    line-height: 3.7rem;
  }
}
@media screen and (max-width: 480px) {
  .main__title {
    font-size: 2.2rem;
    line-height: 3.1rem;
  }
}
.main__subtitle, .article__subtitle {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  color: #fbd784;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.main__subtitle .line, .article__subtitle .line {
  display: inline-block;
  width: 72px;
  height: 2px;
  margin: 0 32px 0 0;
  background-color: #fbd784;
}
@media screen and (max-width: 640px) {
  .main__subtitle .line, .article__subtitle .line {
    width: 42px;
    margin-right: 15px;
  }
}
.main__link {
  display: flex;
  align-items: center;
}
.main__link img {
  margin: 0 0 0 16px;
}

.parallax {
  position: relative;
  min-height: 140vh;
  z-index: 0;
}
.parallax__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.parallax__bg--1 {
  background: url(../img/hero/sky.jpg) no-repeat;
  background-size: 110% auto;
  background-attachment: fixed;
  background-position: left 50% top -2%;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .parallax__bg--1 {
    background-size: 100%;
    background-position: top center;
  }
}
.parallax__bg--2 {
  background: url(../img/hero/mountain.png) no-repeat;
  background-size: cover;
  background-position: left 50% top 50%;
  z-index: 2;
}
.parallax__bg--3 {
  bottom: -1vh;
  height: 70vh;
  background: url(../img/hero/gradient.png) repeat-x;
  background-size: contain;
  background-position: center top;
  z-index: 4;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.article__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.article__block::before {
  position: absolute;
  top: -18%;
  left: -14%;
  font-size: 13.3rem;
  font-weight: 700;
  opacity: 0.1;
}
@media screen and (max-width: 960px) {
  .article__block::before {
    top: -20%;
    left: -3%;
    font-size: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .article__block::before {
    top: -15%;
  }
}
@media screen and (max-width: 375px) {
  .article__block::before {
    left: -1%;
    font-size: 7rem;
  }
}
.article__block--text1::before {
  content: "01";
}
.article__block--text2::before {
  content: "02";
}
.article__block--text3::before {
  content: "03";
}
@media screen and (max-width: 960px) {
  .article__block {
    width: 70%;
  }
  .article__block--img {
    order: 2;
    margin-top: 32px;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .article__block {
    width: 90%;
  }
}
.article__wrapper {
  width: 85%;
}
@media screen and (max-width: 960px) {
  .article__wrapper {
    width: 100%;
  }
}
.article__img {
  max-height: 80vh;
  overflow: hidden;
}
.article__img img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .article__img {
    max-height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .article__img {
    max-height: 25vh;
  }
}
.article__title {
  margin-bottom: 27px;
  font-family: "Chronicle";
  font-size: 3.56rem;
  line-height: 4.3rem;
}
@media screen and (max-width: 960px) {
  .article__title {
    font-size: 3rem;
    line-height: 3.9rem;
  }
}
@media screen and (max-width: 640px) {
  .article__title {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 375px) {
  .article__title {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.article__link {
  display: inline-block;
  margin-top: 27px;
  color: #fbd784;
}
.article__text {
  position: relative;
  line-height: 1.8rem;
}
@media screen and (max-width: 640px) {
  .article__text {
    max-height: 15vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 960px) {
  .article {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 160px;
  }
  .article__blind {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 31, 37, 0) 0%, #141f25 90%);
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.footer__container {
  display: flex;
}
@media screen and (max-width: 640px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__block {
  width: 20%;
}
.footer__block--big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
@media screen and (max-width: 640px) {
  .footer__block {
    width: 100%;
    margin-top: 32px;
  }
}
.footer__title {
  margin-bottom: 24px;
  font-size: 1.3rem;
  color: #fbd784;
}
.footer__menu li {
  margin-bottom: 16px;
}
.footer__menu li a {
  font-weight: 500;
}
.footer__copyright {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
.footer__info p {
  width: 50%;
  margin-top: 24px;
}
@media screen and (max-width: 640px) {
  .footer__info p {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 0;
  }
}/*# sourceMappingURL=style.css.map */