// Variables ===============================================================================================================================================================================================================================================================================================
$main-color: #141f25;
$accent-color: #fbd784;
$text-color: #ffffff;

// Fonts  ===============================================================================================================================================================================================================================================================================================
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy/Gilroy-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy/Gilroy-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy/Gilroy-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy/Gilroy-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy/Gilroy-Extrabold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: 'Chronicle';
    src: url(../fonts/chronicle/Chronicle-Display-Semibold.woff2);
    font-weight: 600;
}

$main-font: 'Gilroy';
$accent-font: 'Chronicle';
$font-size: 18px;

// Adaptiv ===============================================================================================================================================================================================================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints ===============================================================================================================================================================================================================================================================================================
$pc: 1200px; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S
