// Breakpoints
// 320px
// 640px
// 960px
// 1280px
// 1920px
* {
    font-family: $main-font;
    font-weight: 600;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;

    @media screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

body {
    position: relative;
    font-size: 1rem;
    color: $text-color;
    background-color: $main-color;
}

a {
    color: $text-color;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1200px) {
        &:hover {
            color: $accent-color;
        }
    }
}

p {
    line-height: 1.7rem;
}

button {
    color: $text-color;
    background: none;
}

.container {
    width: toPercent(1462, 1920);

    @media screen and (max-width: 640px) {
        width: 80%;
    }

    @media screen and (max-width: 375px) {
        width: 92%;
    }
}

.scroll-container {
    scroll-behavior: smooth;
}
