.hero {
    min-height: 100vh;
    margin-bottom: -40vh;

    &__container {
        position: absolute;
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        @media screen and (max-width: 640px) {
            height: 60%;
        }

        @media screen and (max-width: 375px) {
            height: 65%;
        }
    }

    &__content {
        width: (950 / 1920) * 100%;

        @media screen and (max-width: 1440px) {
            width: 52%;
        }

        @media screen and (max-width: 480px) {
            width: 70%;
        }
    }
}

.main {
    &__title {
        margin-bottom: 32px;
        color: red;
        font-family: $accent-font;
        font-size: 4.889rem;
        text-transform: capitalize;
        line-height: 5.55rem;

        @media screen and (max-width: 1440px) {
            font-size: 4.4rem;
        }

        @media screen and (max-width: 960px) {
            font-size: 2.8rem;
            line-height: 3.7rem;
        }

        @media screen and (max-width: 480px) {
            font-size: 2.2rem;
            line-height: 3.1rem;
        }
    }

    &__subtitle {
        display: flex;
        margin-bottom: 32px;
        align-items: center;
        color: $accent-color;
        text-transform: uppercase;
        letter-spacing: 6px;

        .line {
            display: inline-block;
            width: 72px;
            height: 2px;
            margin: 0 32px 0 0;
            background-color: $accent-color;

            @media screen and (max-width: 640px) {
                width: 42px;
                margin-right: 15px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;

        img {
            margin: 0 0 0 16px;
        }
    }
}

.parallax {
    position: relative;
    min-height: 140vh;
    z-index: 0;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        &--1 {
            background: url(../img/hero/sky.jpg) no-repeat;
            background-size: 110% auto;
            background-attachment: fixed;
            background-position: left 50% top -2%;
            z-index: 1;

            @media screen and (max-width: 640px) {
                background-size: 100%;
                background-position: top center;
            }
        }

        &--2 {
            background: url(../img/hero/mountain.png) no-repeat;
            background-size: cover;
            background-position: left 50% top 50%;
            z-index: 2;
        }

        &--3 {
            bottom: -1vh;
            height: 70vh;
            background: url(../img/hero/gradient.png) repeat-x;
            background-size: contain;
            background-position: center top;
            z-index: 4;
        }
    }
}
